







.start {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #91a2ec;
    text-align: center;
    color: rgb(21, 5, 94);

}

.pic {
    /*flex-basis: 50%;*/

}

.text {
    /*flex-basis: 50%;*/
    font-size: 4vw;
}


.dance {
    max-width: 100%;
    /*background-color: rgb(180, 128, 58);*/
}
.komod {
    background-image: linear-gradient(180deg, #91a2ec 80%, #d49611);
    display: block;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgb(180, 128, 58);*/
}

.duo {
    /* max-width: 100%; */
    width: 50%;
}

h1 {
    margin: 100px;
    font-size: 70px;
    color: rgb(68, 35, 17);
}

h3 {
    font-size: 70px;
}

h4 {
    font-size: 80px;
    color: #c00e5e;
}

.iduo {
    max-width: 100%;

    background-color: #d9c080;

}

.textduo {
    font-size: 50px;
    color: rgb(21, 5, 94);
    padding: 50px 0px 0px 0px;
    /* border: 5px;
    border-radius: 50%;
    border-color: aquamarine; */

}

body{
min-width: 530px;
}



.wrapperZ {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*min-width: 350px;*/
    /*border: #1114d4 5px solid;*/
}
.headerZ {
    height: 300px;
    background-color: #d43811;
    background-image: linear-gradient(180deg, #d49611 10%, #91a2ec);
   /*border: #d43811 5px solid;*/
    padding: 20px;
}

.contentZ {
    flex-grow: 1;
    /* background-color: blue; */
    background-image: linear-gradient(180deg, #91a2ec 80%, #d49611);
    /*border: green 5px solid;*/
}

.kod{
    /*border: green 5px solid;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}




.footerZ {
    flex-shrink: 0;
    background-image: linear-gradient(180deg, #d49611 80%, #d49611);
    /*border: #da5c17 5px solid;*/
    height: 100px;
}


/*.contentZZ {*/
/*    display: flex;*/
/*    !*min-height: 650px;*!*/
/*    !*justify-content: center;*!*/
/*    background-image: linear-gradient(180deg, #91a2ec 80%, #91a2ec);*/
/*    border: yellow 5px solid;*/
/*    !* border: 5px solid red; *!*/
/*    !* align-items:center; *!*/
/*}*/

.start2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    background-image: linear-gradient(180deg, #91a2ec 10%, #91a2ec);
    /*background-color: #9d9884;*/
    text-align: center;
    color: rgb(21, 5, 94);

}


.audiotrec-revers {
    /* border: 2px solid red; */
    padding: 50px 20px 20px 20px;
}

.buttonaudio {
    /* border: 2px solid red; */
}

.prompt1 {
    display: none;
    /* border: 2px solid red; */
}

.foto {
    width: 1100px;
    height: 800px;
}

.prompvideo {
    display: none;
    padding: 20px;
}


.pic-dancesm {
    width: 500px;

}

.signup-text-input {
    margin: 10px 0 0 0;
    width: 300px;
    height: 60px;
    background-color: #7ba5c5;
    color: #d43811;
    font-size: 40px;
    border: none;
}

.nextbt {
    display: none;
}

.myb {
    font-size: 40px;
    color: rgb(21, 5, 94);
}

.myb1 {
    font-size: 40px;
    margin: 20px;

}

.picnn {
    /* align-items: center; */
    text-align: center;

}

.tykva {
    font-size: 60px;
    border: 2px solid red;
    color: #e4ece0;
    box-shadow: 10px 10px 10px;
}

.podskazka {
    font-style: italic;
    font-size: 30px;
    color: #e4ece0;

}

.podskazka2 {
    font-style: italic;
    font-size: 50px;


}

.mnn {
    background-color: transparent;
    color: black;

}

.nameinput1 {
    /*position: absolute;*/
text-align: center;
    /*left: 40%;*/
    /*margin: 20px;*/
    /*border: #8acc63 5px solid;*/

}

.myb2 {
    position: absolute;
    width: 390px;
    left: -15px;

}

.dkod {
    display: none;
    color: black;
}

.picnn {
    display: none;
}

.mb2 {
    color: black;
}

.instr {
    font-size: 50px;
    background-color: #e7b790;
    text-align: center;
}

.instuctionaudio {
    display: flex;
    padding: 100px 0px 0px 0px;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(35, 88, 136);
    align-items: center;
    text-align: center;
    background-color: #e7b790;
    /* border: 2px solid red; */
}
.instuctionaudio2 {
    padding: 100px 0px 0px 0px;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(35, 88, 136);
    align-items: center;
    text-align: center;
    background-color: #e7b790;
    /* border: 2px solid red; */
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.molod {
    color: #d43811;
}

.texthtml{
    color: #c00e5e;
}

.contentZZ{
    background-color: #7ba5c5;
}